<div class="container-fluid bg-light pb-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                Why choose us?
                <hr class="hr-item">
                <div class="sub-title">
                    <h5>Our solutions are top notch, feature rich, flexible which gives high ROI to our customers.</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="cards">
                <div class="card shadow">
                    <img class="icon" width="8%" src="./../../assets/db-icon.png" alt=""> 
                    <div class="card-body">
                      <h5 class="card-title"><strong>
                        Skilled and experienced team </strong></h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus</p>
                    </div>
                  </div>
                  <div class="card shadow">
                    <img width="8%" class="icon" src="./../../assets/db-icon.png" alt=""> 
                    <div class="card-body">
                      <h5 class="card-title"><strong>Unique approach to every project</strong></h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus</p>
                    </div>
                  </div>
                  <div class="card shadow">
                    <img class="icon" width="8%" src="./../../assets/db-icon.png" alt=""> 
                    <div class="card-body">
                      <h5 class="card-title"><strong>Quality Working</strong></h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus</p>
                    </div>
                  </div>
                  <div class="card shadow" >
                    <img class="icon" width="8%" src="./../../assets/db-icon.png" alt=""> 
                    <div class="card-body">
                      <h5 class="card-title"><strong>Collaborative Working</strong></h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus</p>
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
        
</div>
