<div class="home-page ">
    <div class="home-banner">
        <app-navbar></app-navbar>
            <div class="content">
            <p >
               <span class="we-are"> We are </span><br><br><span class="heading">Next-Gen IT Solution Company in Mumbai, India</span>
            </p>
            
            <div class="sub-content">
            <p>
                Acceron is a leading Website design, Website development, App development, digital marketing company. Our major areas of service are 
                E-Learning, E-Commerce and SaaS development. 
            </p>
            </div>
            <div >
                <button class="btn btn-lg btn-primary" type="submit">Know more</button>
            </div>
        </div>
    </div>






</div>
